<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpUser</servlet-name>
        <servlet-class>SignUpUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDestination</servlet-name>
        <servlet-class>addDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bus_Booking</servlet-name>
        <servlet-class>Bus_Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hotels_add</servlet-name>
        <servlet-class>Hotels_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cabs_add</servlet-name>
        <servlet-class>Cabs_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bus_add</servlet-name>
        <servlet-class>Bus_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDashboard</servlet-name>
        <servlet-class>adminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHotel</servlet-name>
        <servlet-class>DeleteHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCab</servlet-name>
        <servlet-class>DeleteCab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBus</servlet-name>
        <servlet-class>deleteBus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpUser</servlet-name>
        <url-pattern>/SignUpUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDestination</servlet-name>
        <url-pattern>/addDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bus_Booking</servlet-name>
        <url-pattern>/Bus_Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hotels_add</servlet-name>
        <url-pattern>/Hotels_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cabs_add</servlet-name>
        <url-pattern>/Cabs_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bus_add</servlet-name>
        <url-pattern>/Bus_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDashboard</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHotel</servlet-name>
        <url-pattern>/DeleteHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCab</servlet-name>
        <url-pattern>/DeleteCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBus</servlet-name>
        <url-pattern>/deleteBus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
